#boardGrid{
    -fx-background-image:url('/images/boardNew.png');
    /*-fx-background-insets: 5px 12px 5px 12px;*/


    -fx-background-size: 100% 100%;
    -fx-background-color: white;
    -fx-border-color: red;
    -fx-border-width: 5px;
    -fx-background-repeat: no-repeat;

}



.buttonContainer{
    -fx-padding: 50px;
}
.headerContainer{
    -fx-padding: 50px;
}

#listView{
}

.header{
    -fx-font-size: 30px;

    -fx-alignment: center;
    -fx-text-alignment: center;
}



